body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #201f1f;
    font-weight: bolder;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
}
main::before {
    content: '';
    position: fixed;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 1000%;
    background: linear-gradient(45deg,rgb(161, 161, 161),rgb(161, 161, 161),rgb(161, 161, 161),rgb(161, 161, 161));
    z-index: -1;
    filter: blur(10px);
}
footer{
    background-color: #0b0a0a;
    text-align: center;
    color: #fff;
    height: 65px;
}
link:hover{
    text-decoration: underline;
}
.social-icons{
    margin: 10px;
}
.social-icons img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin: 0 10px;
}
